@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #CD853F	;
}

div article table, th, td {
    border: 1px solid black;
    table-layout: auto;
}

h1 {
	font-weight: bold;
	font-size: 1.5em;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
	color: #000000;
}

h4 {
	font-weight: bold;
	text-align: left;
	font-size: 1.2em;
}

div article p {
    text-align: justify;
    text-indent: 25px; 
    text-indent: 50px;
}

footer {
	padding: 20px;
	color: white;
	background-color: #8B4513;
	font-weight: bold;
}

nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
}

nav a:hover {
	font-weight: bold;
}

.profile header {
	text-align: center;
}

.featured-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}

.logo {
    width: 300px;
}

.profile img {
	width: 200px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	background-color: white;
}

.jumbotron {
	font-size: 20px;
	padding: 60px;
	background-color: #A0522D;
	text-align: center;
	color: white;
}

nav li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}

nav {
	background-color: #8B4513;
	padding: 5px;
	position: sticky;
	top: 0;
}

nav a {
	font-size: 18px;
	font-weight: 400px;
	text-decoration: none;
	color: white;
}

main {
	padding: 20px;
	overflow: auto;
}

#content {
	float: left;
	width: 75%;
}

aside {
	float: right;
	width: 25%;
	padding-left: 20px;
}

* {
	box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
	#content, 
	aside {
		width: 100%;
		padding: 0;
	}
}

header {
	display: inline;
}

.circle {
	width: 200px;
	height: 200px;
    border-radius: 100%;
}

.struktur {
    object-position: center;
}

.strukturFoto {
    max-width: 100%;
}

tr {
	text-align: left;
}

#keterangan {
	text-align: center;
}

#nama {
	font-weight: bold;
}

.info_box {
        border-bottom: 2px solid gray;
        padding: 0;
}

footer p a {
    color: white;
    text-decoration: none;
}

/* Navbar */
* {
    margin: 0;
}

nav {
    display: flex;
    background-color: #8B4513;
    justify-content: space-around;
    color: lightblue;
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: lightcyan;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: lightblue;
    text-decoration: none;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: lightcyan;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Responsive Breakpoint */
/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* Ukuran Mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #8B4513;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}